<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Simple To Do</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="/">To Do</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <p align="center"><div class="container">
      {% block content %}
      {% endblock %}
    </p>
    </div>
  </body>
</html>