{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <p class="important">
      <table border = 0>
         <thead>
            <td>Task</td>
            <td>click here if done</td>
         </thead>
         
         {% for row in rows if row["status"] == 0 %}
            <tr>
               <td>{{row["task"]}}</td>
               <td><a href = "/done/{{row["task"].replace(" ", "-")}}">done</a></td>
            </tr>
         {% endfor %}
      </table>
   </p>
      <a href = "/newtask">Add another task</a><br>
      <a href = "/archive">Archive of tasks</a>
{% endblock %}
   </body>
</html>