<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Task</td>
            <td>click here if done</td>
         </thead>
         
         {% for row in rows if row["status"] == 0 %}
            <tr>
               <td>{{row["task"]}}</td>
               <td><a href = "/done/{{row["task"].replace(" ", "-")}}">done</a></td>
            </tr>
         {% endfor %}
      </table>
      
      </p>
      <a href = "/newtask">Add another task</a><br>
      <a href = "/archive">Archive of tasks</a>
   </body>
</html>